[configuration]
baseline = ["manipulators", "mirrors", "blconf"]
has_slits = true
has_motorized_samples = true
has_motorized_eref = false
has_polarization = false

[detector_sets.default]
primary = ""
normalization = ""
reference = ""

[devices]

[settings]
modules = ["haxpes.startup"]
beamline = ["sst2", "sst1"]

[settings.plans]
xps = ["xps_regions.toml"]

[settings.redis.md]
host = "info.sst.nsls2.bnl.gov"
prefix = "haxpes-"

[settings.redis.info]
host = "info.sst.nsls2.bnl.gov"
prefix = "haxpes-"
port = 60737
db = 6
