[gui]
header = "sst-gui-header"

[gui.tabs]
include = ["nbs-gui-queue", "kafka-table-tab", "nbs-gui-console", "nbs-gui-monitor", "sst-gui-samples"]

[gui.plans]
include = [
    "nbs-gui-scan",
    "nbs-gui-move", 
    "nbs-gui-xas",
    "nbs-gui-timescan",
    "nbs-gui-varscan",
    "nbs-gui-flyscan",
    "manual-sample-move",
    "haxpes-respes-custom",
    "haxpes-xps",
    "haxpes-xps-custom"
]

[models.beamline]
primary_energy = "en"
primary_manipulator = "manipulator"
loader = "nbs_bl.qt.models.beamline.SSTBeamlineModel"

[devices]
psh4 = { visible = false, view_only = true }
psh5 = { visible = false}
psh1 = { view_only = true }
FEsh1 = { view_only = true }
enpostender = { "_role" = "energy", "load_order" = 1 }
beamselection = { "_target" = "nbs_gui.models.mode.ModeModel" }

[loaders]
"EnPosFactory" = "sst_base.qt.models.energy.SST1EnergyModel"
"energypos" = "haxpes.qt.models.energy.SST2EnergyModel"
"I400SingleCh" = "nbs_gui.models.ScalarModel"
"PrettyMotorFMBO" = "nbs_gui.models.MotorModel"
"PrettyMotor" = "nbs_gui.models.MotorModel"
"FMBHexapodMirror" = "nbs_gui.models.MotorTupleModel"
"EpicsSignalRO" = "nbs_gui.models.PVModel"
"EpicsSignal" = "nbs_gui.models.PVModel"
"ShutterSet" = "nbs_gui.models.GVModel"
"EPS_Shutter" = "nbs_gui.models.GVModel"
"ManipulatorBuilder" = "nbs_gui.models.PseudoPositionerModel"
"ophScalar" = "nbs_gui.models.ScalarModel"
"ADCBuffer" = "nbs_gui.models.ScalarModel"
"SRSADCFactory" = "sst_base.qt.models.srs570.SRS570Model"
"RBDFactory" = "sst_base.qt.models.rbd9103.RBD9103Model"
"EpicsMotor" = "nbs_gui.models.MotorModel"
"MultiMeshBuilder" = "nbs_gui.models.PseudoPositionerModel"
"QuadSlits" = "sst_base.qt.models.quadSlits.QuadSlitsModel"
"QuadSlitsLimitFactory" = "sst_base.qt.models.quadSlits.QuadSlitsModel"

[kafka]
config_file = "/etc/bluesky/kafka.yml"
bl_acronym = "haxpes"
